<%= form_for(@author) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
	<div class='col-md-7'>
	
  	  <div class="form-group">
 		 <%= f.label :first_name %><br />
		 <%= f.text_field :first_name, class: "form-control" %>
	  </div>
	  <div class="form_group">
		  <%= f.label :last_name %><br />
		  <%= f.text_field :last_name, class: "form-control" %>
	  </div>
	  <div class="form_group">
		  <br />
		  <%= f.label :active %><br />
		  <%= f.check_box :active %>
	  </div>
	  <div class="actions">
		  <%= f.submit :class => 'btn btn-success btn-block' %>
	  </div>
  
  </div> <!-- close col-md-7 -->
</div> <!-- close row -->
<% end %>
